.sm_slider {
  height: 270px;
  margin: 25px 25px 0px;
  position: relative;
  width: 960px;
}
.sm_slider ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.sm_slide {
  color: #3d3d3d;
  display: none;
  font-size: 100px;
  height: 270px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  visibility: hidden;
  width: 100%;
}
.sm_slide.active {
  display: block;
  visibility: visible;
}
.sm_slide img {
  max-width: 100%;
}

.sm_prev,
.sm_next {
  width: 25px;
  height: 25px;
  margin: -20px 0 0 0;
  cursor: pointer;
  display: block;
  font-style: normal;
  opacity: .3;
  position: absolute;
  top: 50%;
  z-index: 999;
  border-style: solid;
  border-color: #4e4e4e;
  border-width: 0px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sm_prev {
  border-left-width: 3px;
  border-top-width: 3px;
  left: 10px;
}
.sm_prev:hover {
  opacity: 1;
}

.sm_next {
  border-right-width: 3px;
  border-bottom-width: 3px;
  right: 10px;
}
.sm_next:hover {
  opacity: 1;
}

.sm_nav {
  bottom: 0px;
  clear: both;
  display: inline-block;
  overflow: hidden;
  padding: 5px 0px;
  position: absolute;
  right: 0px;
  z-index: 999;
}

.sm_nav-item {
  cursor: pointer;
  float: left;
  height: 14px;
  padding: 4px;
  width: 14px;
  z-index: 999;
  list-style-type: none;
  font-size: 11px;
  color: #ccc;
}
.sm_nav-item i {
  display: block;
  width: 6px;
  height: 6px;
  position: relative;
  top: 5px;
  left: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background-color: #7f7f7f;
}
.sm_nav-item.active {
  cursor: default;
  color: #7e7e7e;
}
.sm_nav-item.active:hover {
  cursor: default;
  color: #7e7e7e;
}
.sm_nav-item.active i {
  background-color: #bfbfbf;
}
.sm_nav-item:hover i {
  background: #7f7f7f;
}
.sm_nav-item.active:hover i {
  background-color: #bfbfbf;
}
