$namespace : '.sm';

#{$namespace}_slider {
	height: 270px;
	margin: 25px 25px 0px;
	position: relative;
	width: 960px;
	ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
	}
}

#{$namespace}_slide {
	color: #3d3d3d;
	display: none;
	font-size: 100px;
	height: 270px;
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
	visibility: hidden;
	width: 100%;
	&.active {
		display: block;
		visibility: visible;
	}
	img {
		max-width: 100%;
	}
}

#{$namespace}_prev,
#{$namespace}_next {
	width: 25px;
	height: 25px;
	margin: -20px 0 0 0;
	cursor: pointer;
	display: block;
	font-style: normal;
	opacity: .3;
	position: absolute;
	top: 50%;
	z-index: 999;
	border-style: solid;
	border-color: #4e4e4e;
	border-width: 0px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#{$namespace}_prev {
	border-left-width: 3px;
	border-top-width: 3px;
	left: 10px;
	&:hover {
		opacity: 1;
	}
}

#{$namespace}_next {
	border-right-width: 3px;
	border-bottom-width: 3px;
	right: 10px;
	&:hover {
		opacity: 1;
	}
}

#{$namespace}_nav {
	bottom: 0px;
	clear: both;
	display: inline-block;
	overflow: hidden;
	padding: 5px 0px;
	position: absolute;
	right: 0px;
	z-index: 999;
}

#{$namespace}_nav-item {
	cursor: pointer;
	float: left;
	height: 14px;
	padding: 4px;
	width: 14px;
	z-index: 999;
	list-style-type: none;
	font-size: 11px;
	color: #ccc;
	i {
		display: block;
		width: 6px;
		height: 6px;
		position: relative;
		top: 5px;
		left: 4px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		-ms-border-radius: 6px;
		-o-border-radius: 6px;
		border-radius: 6px;
		background-color: #7f7f7f;
	}
	&.active {
		cursor: default;
		color: #7e7e7e;
		&:hover {
			cursor: default;
			color: #7e7e7e;
		}
		i {
			background-color: #bfbfbf;
		}
	}
	&:hover i {
		background: #7f7f7f;
	}
	&.active:hover i {
		background-color: #bfbfbf;
	}
}